img {
	max-width: 25%;
	display:block;
	width:auto;
	margin-left:auto;
	margin-right:auto;
	margin-top: 40px;
}

.form-container{
	text-align-last: center;
	font-family: wild thing - demo; 



}
